[Desktop Entry]
Name=novastore
Comment=Convergent app ...
TryExec=novastore
Exec=novastore %U
Terminal=false
Type=Application
GenericName=
StartupNotify=true
Icon=novastore
Categories=Qt;KDE;
MimeType=
SingleMainWindow=true
